body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #444;
}

h2 {
    color: #333;
    font-size: 28px;
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Contenedor principal del juego */
.game-container {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    max-width: 600px;
    width: 90%; /* Se adapta a dispositivos pequeños */
}

.game-container img {
    width: 600px;
    height: 700px;
    border-radius: 10px;
}

#label-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    
}

/* Zonas de drop */
.drop-zone {
    position: absolute;
    width: 100px;
    height: 80px;
    border: 2px dashed #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.drop-zone:hover {
    border-color: #00bcd4;
    background-color: #e0f7fa;
    transform: scale(1.05);
}

/* Etiquetas para arrastrar */
.label {
    width: 100px;
    height: 80px;
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.label.dragging {
    opacity: 0.7;
}

/* Botón de reinicio */
#reset-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#reset-button:hover {
    background-color: #ff5a4f;
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
    h2 {
        font-size: 24px;
    }

    .drop-zone {
        width: 80px;
        height: 25px;
        font-size: 12px; /* Reduce el tamaño del texto */
    }

    .label {
        width: 80px;
        height: 25px;
        font-size: 12px; /* Ajusta el tamaño para pantallas medianas */
    }

    #reset-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .drop-zone {
        width: 70px;
        height: 20px;
        font-size: 10px; /* Texto más pequeño */
    }

    .label {
        width: 70px;
        height: 20px;
        font-size: 10px; /* Más pequeño en dispositivos móviles */
    }

    #reset-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}
